{% load navbar_extras %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pokemon Evolution</title>
    <!-- Bootstrap -->
    <link href="{% static 'global/css/bootstrap.css' %}" rel="stylesheet">
  </head>

<body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'global/js/bootstrap.js' %}"></script>

  <div class="container">
  <p> Hello world! </p>
  </div>
</body>
</html>
