{% load static %}
<head>
  <link href="{% static 'evo/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'evo/js/bootstrap.min.js' %}"></script>
</head>

<h1>GAP - Genetic Algorithm for Pokemon</h1>
<h2>This is a genetic algorithm for optimizing the best possible pokemon team.<br>
    Clicking "Fight Demo" will visualize the fitness function used by the algorithm for determining good teams.</h2><br>

<form class="form" action-"start/" method="post">
  {% csrf_token %}
  <input type="hidden" name="script" value="evolution">
  <input type="submit" class="btn btn-primary">Start EA</input>
</form>

<form class="form" action-"start/" method="post">
  {% csrf_token %}
  <input type="hidden" name="script" value="fight">
  <input type="submit" class="btn btn-primary">Fight Demo</input>
</form>